

<div class="body_globaldisplay">

  <div class="fixed top-20 left-1/2 translate-x-[-50%] z-40 w-full max-w-6xl px-6">
    <app-back-button></app-back-button>
  </div>

  @if (member$ | async; as member) {

    @if (member) {

      <app-profile-header [member]="member"></app-profile-header>
      <app-profile-contact [member]="member"></app-profile-contact>
      <app-profile-skills [member]="member"></app-profile-skills>
      <app-profile-projects [member]="member"></app-profile-projects>
      <app-profile-links [member]="member"></app-profile-links>

    }
  }
  @else
  {
    <!-- LOADING -->
    <div class="animate-pulse space-y-6 p-6">

      <div class="h-40 bg-(--bg-secondary) rounded-xl"></div>
      <div class="h-6 w-1/3 bg-(--bg-secondary) rounded"></div>
      <div class="h-4 w-2/3 bg-(--bg-secondary) rounded"></div>

    </div>

    <!-- MESSAGE CENTRÉ
    <div class="flex justify-center items-center py-20">
      <p class="text-red-400 text-center">
        Aucun membre correspondant ou erreur de chargement
      </p>
    </div>-->
  }
</div>
