@for (block of project.blocks; track $index) {
  <div class="space-y-3">

    @if (block.type == "title") {
      <h2 class="text-2xl font-semibold pt-8" [id]="block.toc_title">{{block.content}}</h2>
    }
    @if (block.type == "text") {
      <p class="text-(--text-secondary) leading-relaxed">{{block.content}}</p>
    }
    @if (block.type == "image" || block.type == "gif") {
      <img
        [src]="block.content"
        class="rounded-lg border bg-(--bg-secondary)"
        alt="block_image"/>
    }
    @if (block.type == "video") {
      <video controls class="rounded-lg w-full">
        <source [src]="block.content" type="video/mp4">
      </video>
    }

  </div>
}
