<!-- HEADER / IDENTITE -->
<section class="section_header_identite">

  <!-- Avatar -->
  <div class="avatar">
    <img src="assets/images/profil_template.png" class="image">
  </div>

  <!-- Infos principales -->
  <div class="info">
    <h1 class="nom_prenom">Nom Prénom</h1>

    <p class="description">
      Développeur passionné spécialisé en Angular et backend Java.
      Ce texte sert de mini CV / présentation personnelle.
    </p>

    <p class="location">
      📍 Paris, France
    </p>
  </div>

</section>
