<div
  class="bg-(--bg-secondary)
         rounded-xl
         overflow-hidden
         shadow-lg
         hover:scale-105
         transition"
>

  <img
    src="assets/images/profil_template.png"
    alt="avatar"
    class="h-64 w-full object-cover"
  >

  <div class="p-5">

    <h2 class="text-xl font-bold">
      Adrien Martin
    </h2>

    <p class="mt-2 text-(--text-secondary)">
      Développeur logiciel
    </p>

    <p class="mt-4 text-sm">
      12 projets publiés
    </p>

  </div>

</div>
