 <a [routerLink]="['/', member.id]">

  <div class="bg-(--bg-secondary) rounded-xl overflow-hidden shadow-lg hover:scale-105 transition">

    <img
      [src]="member.avatar"
      alt="avatar"
      class="h-64 w-full object-cover"
    >

    <div class="p-5">

      <h2 class="text-xl font-bold">
        {{member.firstName}} {{member.lastName}}
      </h2>

      <p class="mt-2 text-(--text-secondary)">
        {{member.job}}
      </p>

      <p class="mt-4 text-sm">
        {{member.projects.length}} projets
      </p>

    </div>

  </div>

</a>
